* {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(../img/banner.jpg);
    width: 100%;
}

.menu {
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    padding: 5px;
    text-align: center;
    margin-bottom: 60px;
    margin: 0;
}

#code {
    color: #ffcc29;
    font-size: 4.3rem;
}

.menu a {
    text-align: right;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 10px;
    color: #fff;
    transition: 0.3s ease all;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1rem;
}

.menu a:hover {
    color: #ffcc29;
}

.menu #multimedia {
    color: #b8a12f;
}

.container {
    width: 500px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

section article {
    transition: all 0.3s ease;
    background-color: #1a1a1a;
    margin: 1rem 0;
    border-radius: 0.7rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.2);
}

section article h3 {
    margin: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

section article p {
    margin: 1rem;
    color: #fff;
}

.video {
    padding: 1rem 6.5rem;
    margin: 0 auto;
}

.video h1 {
    font-size: 2rem;
    text-align: center;
    color: #efefef;
}

.video p {
    font-size: 2rem;
    text-align: center;
    color: #efefef;
}
